html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
font-family: Helvetica;
line-height: 140%;
margin: 0;
padding: 0;
-webkit-text-size-adjust: none;
}

a {
color: #000;
text-decoration: none;
}

a:hover {
color: #000;
}

ol, ul {
list-style: none;
}

#header {
position: relative;
height: 42px;
background-color: #000;
}
#header #back {
position: absolute;
top: 9px;
left: 10px;
display: block;
}
#header #logo {
position: absolute;
top: 3px;
left: 6px;
display: block;
}
#header #logo_wb {
position: absolute;
top: 3px;
left: 40px;
display: block;
}
#content {
min-height: 380px;
}
#content ul {
margin: 0;
padding: 0;
}
#content ul li {
border-bottom: 1px solid #D9D9D9;
height: 44px;
}

#content ul li h2 {
font-size: 20px;
font-weight: bold;
}
#content ul li h2 a {
display: block;
padding: 12px 10px 10px 12px;
}

#content ul li h2 a.indicator {
padding: 12px 40px 10px 12px;
background: transparent url('../images/arrow.png') right center no-repeat;
}
